<div class="container-fluid bgLogin">
  <div class="row mt-4">
    <div class="col-md-12 mt-4">
      <h3 class="fontHead">SpaceX Launch Programs</h3> </div>
    <div class="col-md-2 float-left LeftSide mt-3">
      <div class="row bg-white borRad">
        <div class="col-md-10 offset-md-1 p-2">
          <div class="row">
            <div class="col-md-12">
              <h6 class="fontHead">Filters</h6>
              <p class="smallHead">Launch Year</p>
              <!-- <input id="search" type="search" placeholder="search"> -->
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row mt-3">
                <ul class="chec-radio">
                  <div class="col-md-6 float-left">
                    <li class="pz">
                      <label class="radio-inline">
                        <input type="radio" name="userType" value="Indian" checked>
                        <div class="clab">2006</div> <span class="cut-check">ss</span> </label>
                    </li>
                  </div>
                  <div class="col-md-6 float-right">
                    <li class="pz">
                      <label class="radio-inline">
                        <input type="radio" name="userType" [disabled]="disabled" value="Overseas">
                        <div class="clab" style="cursor: default;">2007</div>
                      </label>
                    </li>
                  </div>
                  <div class="col-md-6 float-left">
                    <li class="pz">
                      <label class="radio-inline">
                        <input type="radio" name="userType" [disabled]="disabled" value="Overseas">
                        <div class="clab" style="cursor: default;">2008</div>
                      </label>
                    </li>
                  </div>
                  <div class="col-md-6 float-right">
                    <li class="pz">
                      <label class="radio-inline">
                        <input type="radio" name="userType" [disabled]="disabled" value="Overseas">
                        <div class="clab" style="cursor: default;">2009</div>
                      </label>
                    </li>
                  </div>
                  <div class="col-md-6 float-left">
                    <li class="pz">
                      <label class="radio-inline">
                        <input type="radio" name="userType" [disabled]="disabled" value="Overseas">
                        <div class="clab" style="cursor: default;">2010</div>
                      </label>
                    </li>
                  </div>
                  <div class="col-md-6 float-right">
                    <li class="pz">
                      <label class="radio-inline">
                        <input type="radio" name="userType" [disabled]="disabled" value="Overseas">
                        <div class="clab" style="cursor: default;">2011</div>
                      </label>
                    </li>
                  </div>
                  <div class="col-md-6 float-left">
                    <li class="pz">
                      <label class="radio-inline">
                        <input type="radio" name="userType" [disabled]="disabled" value="Overseas">
                        <div class="clab" style="cursor: default;">2012</div>
                      </label>
                    </li>
                  </div>
                  <div class="col-md-6 float-right">
                    <li class="pz">
                      <label class="radio-inline">
                        <input type="radio" name="userType" [disabled]="disabled" value="Overseas">
                        <div class="clab" style="cursor: default;">2013</div>
                      </label>
                    </li>
                  </div>
                  <div class="col-md-6 float-left">
                    <li class="pz">
                      <label class="radio-inline">
                        <input type="radio" name="userType" [disabled]="disabled" value="Overseas">
                        <div class="clab" style="cursor: default;">2014</div>
                      </label>
                    </li>
                  </div>
                  <div class="col-md-6 float-right">
                    <li class="pz">
                      <label class="radio-inline">
                        <input type="radio" name="userType" [disabled]="disabled" value="Overseas">
                        <div class="clab" style="cursor: default;">2015</div>
                      </label>
                    </li>
                  </div>
                  <div class="col-md-6 float-left">
                    <li class="pz">
                      <label class="radio-inline">
                        <input type="radio" name="userType" [disabled]="disabled" value="Overseas">
                        <div class="clab" style="cursor: default;">2016</div>
                      </label>
                    </li>
                  </div>
                  <div class="col-md-6 float-right">
                    <li class="pz">
                      <label class="radio-inline">
                        <input type="radio" name="userType" [disabled]="disabled" value="Overseas">
                        <div class="clab" style="cursor: default;">2017</div>
                      </label>
                    </li>
                  </div>
                  <div class="col-md-6 float-left">
                    <li class="pz">
                      <label class="radio-inline">
                        <input type="radio" name="userType" [disabled]="disabled" value="Overseas">
                        <div class="clab" style="cursor: default;">2018</div>
                      </label>
                    </li>
                  </div>
                  <div class="col-md-6 float-right">
                    <li class="pz">
                      <label class="radio-inline">
                        <input type="radio" name="userType" [disabled]="disabled" value="Overseas">
                        <div class="clab" style="cursor: default;">2019</div>
                      </label>
                    </li>
                  </div>
                  <div class="col-md-6 float-left">
                    <li class="pz">
                      <label class="radio-inline">
                        <input type="radio" name="userType" [disabled]="disabled" value="Overseas">
                        <div class="clab" style="cursor: default;">2020</div>
                      </label>
                    </li>
                  </div>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="smallHead">Successfull Launch</p>
            </div>
             <div class="col-md-12">
              <ul class="chec-radio mt-3">
                  <div class="col-md-6 float-left">
                    <li class="pz">
                      <label class="radio-inline">
                        <input type="radio" name="userType" value="Indian">
                        <div class="clab">True</div> <span class="cut-check">ss</span> </label>
                    </li>
                  </div>
                  <div class="col-md-6 float-right">
                    <li class="pz">
                      <label class="radio-inline">
                        <input type="radio" name="userType" [disabled]="disabled" value="Overseas">
                        <div class="clab" style="cursor: default;">False</div>
                      </label>
                    </li>
                  </div>
                  
                </ul>

             </div>
          </div>
           <div class="row">
            <div class="col-md-12">
              <p class="smallHead">Successfull Landing</p>
            </div>
             <div class="col-md-12">
              <ul class="chec-radio mt-3">
                  <div class="col-md-6 float-left">
                    <li class="pz">
                      <label class="radio-inline">
                        <input type="radio" name="userType" value="Indian">
                        <div class="clab">True</div> <span class="cut-check">ss</span> </label>
                    </li>
                  </div>
                  <div class="col-md-6 float-right">
                    <li class="pz">
                      <label class="radio-inline">
                        <input type="radio" name="userType" [disabled]="disabled" value="Overseas">
                        <div class="clab" style="cursor: default;">False</div>
                      </label>
                    </li>
                  </div>
                  
                </ul>

             </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 float-right mt-3">
      <div class="row">
        <div class="col-md-3 p-4 bg-white borRad">
          <div class=""> <img src="" alt="logo" class="bg-light">
            <div class="blueText">
              <p>FalconSat #1</p>
            </div>
            <div class="blackText">
              <p>Mission Ids</p>
            </div>
            <ul class="a">
              <li>list Mission Ids</li>
            </ul>
            <div class="blackText2">
              <p>Launch Year : <span>2006</span></p>
            </div>
            <div class="blackText2">
              <p>Successful Launch : <span>false</span></p>
            </div>
            <div class="blackText3">
              <div class="row">
                <div class="col-md-3">
                  <p>Successful Landing :</p>
                </div>
                <div class="col-md-9 float-right"> <span>launch_landing</span> </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 fontHead">
    <span class="f20">Developed By :</span>
    <span class="f500 f20"> Priyanka</span>
  </div>
  <!-- Copyright -->

</footer>
</div>
